.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* List style */

.btn {
  font-size: 1rem;
  color: white;
  background-color: rgb(64, 143, 143);
  border: none;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  */
  padding: 5px 20px;
  cursor: pointer;
}

.deleteBtn {
  margin: 20px 30px;
}

.resetBtn,
.convertToBtn {
  border-radius: 20px;
  margin: 0 10px;
}

.addTaskBtn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #aaa6a6;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: rgb(245, 245, 248);
}

.input {
  font-size: 1rem;
  color: white;
  border: 1px solid gray;
  /* background-color: rgb(64, 143, 143); */
  /* border: none; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: black;
  padding: 3px 20px;
  /* cursor: pointer; */
}

.pointer {
  cursor: pointer;
}

.text-size {
  font-size: 20px;
}

/* Responsive media queries */

/* Small devices (phones, 600px and below) */
@media (max-width: 600px) {
  .list {
    width: 80%;
    padding: 15px;
    font-size: 1rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  .input {
    width: 80%;
    font-size: 0.9rem;
  }

  .addTaskBtn {
    border-radius: 20px;
    margin-top: 10px;
  }
}
